body {
    background-color: #f8f9fa;
}

header {
    margin-bottom: 20px;
}

h1, h2 {
    color: #343a40;
}

.card-title {
    font-size: 1.5rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
